/**
 * Site-specific CSS for HackEvansville.org
 */

 /* Google Fonts used:
  * font-family: 'Oswald', sans-serif;
  * font-family: 'Lato', sans-serif;
  * font-family: 'Share Tech Mono', monospace;
  */

body {
  	font-size: 16px;
}

#pageHeader {
  	width: 100%;
  	height: 72px;
	background-color: #004b6a;
}

#siteMain {
	width: 100%;
  	max-width: 1200px;
  	margin: 0 auto;
  	padding-top: 8px;
}

.logo {
	display: block;
	min-width: 325px;
}

a.logo:link, a.logo:visited {
	text-decoration: none;
}

#pageHeader .logo .logoIcon a:link,
#pageHeader .logo .logoIcon a:visited {
	color: #004b6a;
}

#pageHeader .logo .logoIcon span:hover {
  	background-color: rgba(255, 255, 255, 0.7);
}

.logoIcon {
  	float: left;
  	margin-right: 8px;
  	color: #004b6a;
  	font-family: 'Oswald', sans-serif;
  	font-size: 32px;
  	font-weight: bold;
  	text-align: center;
}

.logoIcon span {
  	display: inline-block;
  	width: 48px;
  	height: 48px;
  	padding: 4px;
  	border-radius: 50%;
  	background-color: #ffffff;
  	line-height: 32px;
}

.logoText {
  	padding-top: 5.6px;
  	font-family: 'Share Tech Mono', monospace;
  	font-size: 2.4em;
  	letter-spacing: -3px;
}

.logoText {
	color: #ffffff;
}

.logoText:hover {
	color: rgba(255, 255, 255, 0.7);
	text-decoration: underline;
}

#siteMain #navbarLinks {
	margin-top: -8px;
}

#siteMain #navbarLinks .nav-item a:link,
#siteMain #navbarLinks .nav-item a:visited {
	color: #ffffff;
}

#siteMain #navbarLinks .nav-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#siteMain #navbarLinks .nav-item:last-of-type:hover {
	background-color: unset;
}

#siteMain #navbarLinks .nav-item a:hover {
	color: rgba(255, 255, 255, 0.7);
}

#siteMain #navbarLinks .nav-item .cta {
	margin-left: 20px;
	font-weight: bold;
	border-radius: unset;
}

#siteMain #navbarLinks .nav-item .cta:link {
	color: rgba(0, 75, 106, 0.8);
}

#siteMain #navbarLinks .nav-item .cta:hover {
	background-color: #ff9007;
	color: rgba(0, 75, 106, 1);
}