/**
 * Site-specific CSS for HackEvansville.org
 */

/* Google Fonts used:
* font-family: 'Oswald', sans-serif;
* font-family: 'Lato', sans-serif;
* font-family: 'Share Tech Mono', monospace;
*/

/* Colors:
 * .darkBlue: #004b6a; // hsl(198, 100%, 21%), rgba(0, 75, 106, 1);
 */


body {
	font-family: 'Lato', sans-serif;
  	font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	line-height: 1.3;
	letter-spacing: 1px;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.6rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1rem;
}

.hackEvansville {
	font-family: 'Share Tech Mono', monospace;
	text-transform: lowercase;
}

.img-container {
	position: relative;
}

.img-lead {
	margin: 0;
	border: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
}

.img-medium {
	max-width: 500px;
}

.img-small {
	max-width: 300px;
}

.alignLeft {
	float: left;
}

.alignCenter {
	margin-left: auto;
	margin-right: auto;
}

.alignRight {
	float: right;
	margin: 3px;
}

.clearright {
	clear: right;
}

.img-lead .caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	color: #ffffff;
	font-size: 1rem;
	line-height: 1.3rem;
	font-style: italic;
}

.caption p {
	margin: 0;
	padding: 0.6rem 1rem;
}

.credit {
	position: absolute;
	right: 0;
	color: #444444;
	font-size: 0.7rem;
	text-align: right;
	font-style: italic;
}

.callout {
	margin: 2rem 1.2rem;
	border: 3px solid #cccccc;
	padding: 0.5rem;
	background-color: #d5d5d5;
}

.flat {
	text-shadow: none;
	box-shadow: none;
}

.darkBlue {
	color: #004b6a;
}

.darkBlueBg {
	background-color: #004b6a;
}

header#pageHeader {
  	width: 100%;
  	height: 72px;
  	box-shadow: 0 2px 10px #000000;
	background-color: #004b6a;
}

nav#siteMain {
	width: 100%;
  	max-width: 1200px;
  	margin: 0 auto;
  	padding-top: 8px;
}

.logo {
	display: block;
	min-width: 325px;
}

a.logo:link, a.logo:visited {
	text-decoration: none;
}

#pageHeader .logo .logoIcon a:link,
#pageHeader .logo .logoIcon a:visited {
	color: #004b6a;
}

#pageHeader .logo .logoIcon span:hover {
  	background-color: rgba(255, 255, 255, 0.7);
}

.logoIcon {
  	float: left;
  	margin-right: 8px;
  	color: #004b6a;
  	font-family: 'Oswald', sans-serif;
  	font-size: 2rem;
  	font-weight: bold;
  	text-align: center;
}

.logoIcon span {
  	display: inline-block;
  	width: 48px;
  	height: 48px;
  	padding: 4px;
  	border-radius: 50%;
  	background-color: #ffffff;
  	line-height: 2rem;
}

#siteMain .logoText {
  	padding-top: 4px;
  	color: #ffffff;
  	font-size: 2.4rem;
  	font-weight: normal;
  	letter-spacing: -3px;
}

#siteMain .logoText:hover {
	color: rgba(255, 255, 255, 0.7);
	text-decoration: underline;
}

#siteMain #navbarSupportedContent {
	margin-top: -8px;
}

#siteMain #navbarSupportedContent .nav-item a:link,
#siteMain #navbarSupportedContent .nav-item a:visited {
	color: #ffffff;
}

#siteMain #navbarSupportedContent .nav-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#siteMain #navbarSupportedContent .nav-item:last-of-type:hover {
	background-color: unset;
}

#siteMain #navbarSupportedContent .nav-item a:hover {
	color: rgba(255, 255, 255, 0.7);
}

#siteMain #navbarSupportedContent .nav-item .cta {
	margin-left: 20px;
	font-weight: bold;
	border-radius: unset;
}

#siteMain #navbarSupportedContent .nav-item .cta:link {
	color: rgba(0, 75, 106, 0.8);
}

#siteMain #navbarSupportedContent .nav-item .cta:hover {
	background-color: #ff9007;
	color: rgba(0, 75, 106, 1);
}

.navbar-inverse .custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#siteMain #navbarSupportedContent .hamburger {
	margin-top: -9px;
}

#bannerContainer {
	margin-top: 74px;
	padding: 0;
}

#banner {
	padding: 0;
}

#banner .background,
#banner .parallax-overlay {
	min-height: 260px;
	height: 29vw;
}

.parallax {
	background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#banner .background {
	box-shadow: 0px 2px 6px #000;
	background-image: url(../images/EvansvilleSkyline.jpg);
}

#banner .parallax-overlay {
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: hsla(198, 100%, 45%, 0.5);
}

#banner #textContainer {
	color: #ffffff;
	text-shadow: 1px 1px 3px #000000;
}

.bannerText {
	max-width: 750px;
	margin: 1rem auto 1.2rem;
	font-size: 1.2rem;
}

.contentHeadline {
	margin-bottom: 1.3rem;
}

footer#pageFooter {
	padding: 1rem;
	background-color: #2d2d2d;
}

p.copyright {
	margin-bottom: 0;
	color: #ffffff;
}

@media(max-width: 991px) {

	#siteMain #navbarSupportedContent {
		margin-top: -4px;
	}

	#siteMain #navbarSupportedContent .nav-item {
		background-color: #0282b7;
		text-align: center;
	}

	#siteMain #navbarSupportedContent .nav-item:hover {
		background-color: rgba(0, 75, 106, 0.8);
	}

	#siteMain #navbarSupportedContent .nav-item .cta {
		margin-left: 0;
	}
}

@media(max-width: 575px) {
	#pageHeader {
		height: 50px;
		padding 0;
	}

	#siteMain {
		max-width: unset;
		margin: 0;
		padding: 0;
	}

	#siteMain .logo {
		min-width: unset;
	}

	#siteMain .logoIcon {
		display: none;
	}

	#siteMain .logoText {
		font-size: 2rem;
	}

	#siteMain #navbarSupportedContent {
		margin-top: -2px;
	}

	.hamburger {
		margin-top: 0;
	}

	#bannerContainer {
		margin-top: 51px;
	}
}
